
  #card {
    width: 300px;
    min-width: 300px; /* To Prevent Element's Width From Going Below 300px */
  
    background: #fff;
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
    border-radius: 7px;
    overflow: auto;
    cursor: pointer;
   
  }
 
  
  #img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
  }
  
  #title {
    text-align: center;
    /* color: #000; */
  }
  
  #desc {
    margin: 1rem;
    color: #4e4545;
    line-height: 1.6rem;
    word-spacing: 2px;
  }
  